<li>
  <a href="#"><i class="icon-transmission"></i> <span>ERP connector</span></a>
  <ul>
      <li>
        <%= link_to 'Products', naturesoft_erp_connector.admin_products_path %>
      </li>
  </ul>
</li>